.header-banner-display .header-banner {
    opacity: 1;
    transition: opacity 0s ease;
    -webkit-transition: opacity 0s ease;
}
.header-banner {
    z-index: 1;
}
.header-banner {
    background-color: #437111;
}
.header-banner {
    height: 35px;
}
.header-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
    overflow: hidden;
    transition: opacity 0s ease .6s;
    -webkit-transition: opacity 0s ease .6s;
}
.color-scheme-light, .color_sticky_light.act-scroll {
    color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}


@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}


.header-banner-container > p:last-child, .header-banner-container > h1:last-child, .header-banner-container > h2:last-child, .header-banner-container > h3:last-child, .header-banner-container > h4:last-child, .header-banner-container > h5:last-child, .header-banner-container > h6:last-child, .header-banner-container > ul:last-child, .header-banner-container > ol:last-child {
    margin-bottom: 0;
}
.header-banner-container > p, .header-banner-container > h1, .header-banner-container > h2, .header-banner-container > h3, .header-banner-container > h4, .header-banner-container > h5, .header-banner-container > h6, .header-banner-container > ul, .header-banner-container > ol {
    margin-bottom: 10px;
}
.color-scheme-light p, .color_sticky_light.act-scroll p {
    color: rgba(255, 255, 255, 0.8);
}
body, p, .widget_nav_mega_menu .menu > li > a, .mega-navigation .menu > li > a, .basel-navigation .menu > li.menu-item-design-full-width .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-sized .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-default .sub-menu li a, .font-default {
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
}
p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after {
    clear: both;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.basel-cart-opened .cart-widget-side {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -sand-transform: translate3d(0, 0, 0);
}
.document-ready .cart-widget-side, .document-ready .login-form-side {
    display: block;
}
.cart-widget-side {
    z-index: 9999;
}
.cart-widget-side, .login-form-side {
    z-index: 9999;
}
.cart-widget-side, .login-form-side {
    /* position: fixed; */
    top: 0;
    bottom: 0;
    right: 0;
    width: 340px;
    display: none;
    overflow: auto;
    background-color: #fff;
    z-index: 500;
    transform: translate3d(340px, 0, 0);
    -webkit-transform: translate3d(340px, 0, 0);
    -ms-transform: translate3d(340px, 0, 0);
    -sand-transform: translate3d(340px, 0, 0);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    -webkit-overflow-scrolling: touch;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, p, .widget_nav_mega_menu .menu > li > a, .mega-navigation .menu > li > a, .basel-navigation .menu > li.menu-item-design-full-width .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-sized .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-default .sub-menu li a, .font-default {
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
}
body {
    font-family: Karla, Arial, Helvetica, sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #4c4c4c;
    line-height: 1.2;
    font-size: 14px;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    line-height: 1;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #CD171F;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #98cb4c;
    border-radius: 10px;
}
::selection {
    color: #cd171f;
    background: #98CB4C;
}


.cart-widget-side .widget-heading, .login-form-side .widget-heading {
    margin-bottom: 20px;
    padding: 28px 20px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    display: -ms-flex;
    -ms-align-items: center;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    -ms-justify-content: space-between;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, p, .widget_nav_mega_menu .menu > li > a, .mega-navigation .menu > li > a, .basel-navigation .menu > li.menu-item-design-full-width .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-sized .sub-sub-menu li a, .basel-navigation .menu > li.menu-item-design-default .sub-menu li a, .font-default {
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
}
body {
    font-family: Karla, Arial, Helvetica, sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #4c4c4c;
    line-height: 1.2;
    font-size: 14px;
}
body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    line-height: 1;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #CD171F;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #98cb4c;
    border-radius: 10px;
}
::selection {
    color: #cd171f;
    background: #98CB4C;
}

.cart-widget-side .widget-heading .widget-title, .login-form-side .widget-heading .widget-title {
    letter-spacing: 0.6px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 24px;
}

.cart-widget-side .widget-heading .widget-close, .cart-widget-side .widget-heading .widget-title, .login-form-side .widget-heading .widget-close, .login-form-side .widget-heading .widget-title {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}
.widgettitle, .widget-title {
    font-family: PT Sans;
    font-weight: 700;
    font-style: normal;
    color: #0a0a0a;
}
.widget-title, .widgettitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #1b1919;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 4px;
}

.cart-widget-side .widget-heading .widget-close, .login-form-side .widget-heading .widget-close {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 35px;
    position: relative;
    cursor: pointer;
    padding-right: 21px;
}
.cart-widget-side .widget-heading .widget-close, .cart-widget-side .widget-heading .widget-title, .login-form-side .widget-heading .widget-close, .login-form-side .widget-heading .widget-title {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}
a {
    color: #202020;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cart-widget-side .widget-heading .widget-close:before, .login-form-side .widget-heading .widget-close:before {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -sand-transform: rotate(0);
    transform: rotate(0);
}
.cart-widget-side .widget-heading .widget-close:after, .cart-widget-side .widget-heading .widget-close:before, .login-form-side .widget-heading .widget-close:after, .login-form-side .widget-heading .widget-close:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    width: 15px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cart-widget-side .widget-heading .widget-close:before, .login-form-side .widget-heading .widget-close:before {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -sand-transform: rotate(0);
    transform: rotate(0);
}
.cart-widget-side .widget-heading .widget-close:after, .cart-widget-side .widget-heading .widget-close:before, .login-form-side .widget-heading .widget-close:after, .login-form-side .widget-heading .widget-close:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    width: 15px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cart-widget-side .widget_shopping_cart {
    padding: 0 20px 20px;
}
.cart-widget-side .widget_shopping_cart .product_list_widget {
    margin-bottom: 30px;
}

.widget_shopping_cart .product_list_widget {
    position: relative;
    margin-bottom: 0;
    text-align: left;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
ol, ul {
    list-style: none;
}
.btn.btn-color-primary, .button.btn-color-primary, button.btn-color-primary, .added_to_cart.btn-color-primary, input[type=submit].btn-color-primary, .btn.btn-color-primary:hover, .btn.btn-color-primary:focus, .button.btn-color-primary:hover, .button.btn-color-primary:focus, button.btn-color-primary:hover, button.btn-color-primary:focus, .added_to_cart.btn-color-primary:hover, .added_to_cart.btn-color-primary:focus, input[type=submit].btn-color-primary:hover, input[type=submit].btn-color-primary:focus, .btn.btn-color-primary.btn-style-bordered:hover, .btn.btn-color-primary.btn-style-bordered:focus, .button.btn-color-primary.btn-style-bordered:hover, .button.btn-color-primary.btn-style-bordered:focus, button.btn-color-primary.btn-style-bordered:hover, button.btn-color-primary.btn-style-bordered:focus, .widget_shopping_cart .widget_shopping_cart_content .buttons .checkout, .widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:hover, .widget_shopping_cart .widget_shopping_cart_content .buttons .checkout:focus, .basel-search-dropdown .basel-search-wrapper .basel-search-inner form button, .basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:hover, .basel-search-dropdown .basel-search-wrapper .basel-search-inner form button:focus, .comments-area .comment-respond input[type=submit], .comments-area .comment-respond input[type=submit]:hover, .comments-area .comment-respond input[type=submit]:focus, .sidebar-container .mc4wp-form input[type=submit], .sidebar-container .mc4wp-form input[type=submit]:hover, .sidebar-container .mc4wp-form input[type=submit]:focus, .footer-container .mc4wp-form input[type=submit], .footer-container .mc4wp-form input[type=submit]:hover, .footer-container .mc4wp-form input[type=submit]:focus, .filters-area .mc4wp-form input[type=submit], .filters-area .mc4wp-form input[type=submit]:hover, .filters-area .mc4wp-form input[type=submit]:focus, .shopify .cart-collaterals .cart_totals .sp-proceed-to-checkout a, .shopify .cart-collaterals .cart_totals .sp-proceed-to-checkout a:hover, .shopify .cart-collaterals .cart_totals .sp-proceed-to-checkout a:focus, .shopify .checkout_coupon .button, .shopify .checkout_coupon .button:hover, .shopify .checkout_coupon .button:focus, .shopify .place-order input[type=submit], .shopify .place-order input[type=submit]:hover, .shopify .place-order input[type=submit]:focus, .shopify-order-pay #order_review .button, .shopify-order-pay #order_review .button:hover, .shopify-order-pay #order_review .button:focus, .shopify input[name=track], .shopify input[name=track]:hover, .shopify input[name=track]:focus, .shopify input[name=save_account_details], .shopify input[name=save_address], .shopify-page input[name=save_account_details], .shopify-page input[name=save_address], .shopify input[name=save_account_details]:hover, .shopify input[name=save_account_details]:focus, .shopify input[name=save_address]:hover, .shopify input[name=save_address]:focus, .shopify-page input[name=save_account_details]:hover, .shopify-page input[name=save_account_details]:focus, .shopify-page input[name=save_address]:hover, .shopify-page input[name=save_address]:focus, .search-no-results .not-found .entry-content .searchform #searchsubmit, .search-no-results .not-found .entry-content .searchform #searchsubmit:hover, .search-no-results .not-found .entry-content .searchform #searchsubmit:focus, .error404 .page-content > .searchform #searchsubmit, .error404 .page-content > .searchform #searchsubmit:hover, .error404 .page-content > .searchform #searchsubmit:focus, .no-results .searchform #searchsubmit, .no-results .searchform #searchsubmit:hover, .no-results .searchform #searchsubmit:focus, .shopify .return-to-shop .button, .shopify .return-to-shop .button:hover, .shopify .return-to-shop .button:focus, .basel-hover-excerpt .btn-add a, .basel-hover-excerpt .btn-add a:hover, .basel-hover-excerpt .btn-add a:focus, .basel-hover-standard .btn-add > a, .basel-hover-standard .btn-add > a:hover, .basel-hover-standard .btn-add > a:focus, .basel-price-table .basel-plan-footer > a, .basel-price-table .basel-plan-footer > a:hover, .basel-price-table .basel-plan-footer > a:focus, .basel-info-box.box-style-border .info-btn-wrapper a, .basel-info-box.box-style-border .info-btn-wrapper a:hover, .basel-info-box.box-style-border .info-btn-wrapper a:focus, .basel-info-box2.box-style-border .info-btn-wrapper a, .basel-info-box2.box-style-border .info-btn-wrapper a:hover, .basel-info-box2.box-style-border .info-btn-wrapper a:focus, .basel-hover-quick .shopify-variation-add-to-cart .button, .basel-hover-quick .shopify-variation-add-to-cart .button:hover, .basel-hover-quick .shopify-variation-add-to-cart .button:focus, .spb_video_wrapper .button-play, .basel-dark .read-more-section .btn-read-more, .basel-dark .products-footer .basel-blog-load-more, .basel-dark .products-footer .basel-products-load-more, .basel-dark .products-footer .basel-portfolio-load-more, .basel-dark .blog-footer .basel-blog-load-more, .basel-dark .blog-footer .basel-products-load-more, .basel-dark .blog-footer .basel-portfolio-load-more, .basel-dark .portfolio-footer .basel-blog-load-more, .basel-dark .portfolio-footer .basel-products-load-more, .basel-dark .portfolio-footer .basel-portfolio-load-more, .basel-dark .products-footer .basel-blog-load-more:hover, .basel-dark .products-footer .basel-blog-load-more:focus, .basel-dark .products-footer .basel-products-load-more:hover, .basel-dark .products-footer .basel-products-load-more:focus, .basel-dark .products-footer .basel-portfolio-load-more:hover, .basel-dark .products-footer .basel-portfolio-load-more:focus, .basel-dark .blog-footer .basel-blog-load-more:hover, .basel-dark .blog-footer .basel-blog-load-more:focus, .basel-dark .blog-footer .basel-products-load-more:hover, .basel-dark .blog-footer .basel-products-load-more:focus, .basel-dark .blog-footer .basel-portfolio-load-more:hover, .basel-dark .blog-footer .basel-portfolio-load-more:focus, .basel-dark .portfolio-footer .basel-blog-load-more:hover, .basel-dark .portfolio-footer .basel-blog-load-more:focus, .basel-dark .portfolio-footer .basel-products-load-more:hover, .basel-dark .portfolio-footer .basel-products-load-more:focus, .basel-dark .portfolio-footer .basel-portfolio-load-more:hover, .basel-dark .portfolio-footer .basel-portfolio-load-more:focus, .basel-dark .products-footer .basel-blog-load-more:after, .basel-dark .products-footer .basel-products-load-more:after, .basel-dark .products-footer .basel-portfolio-load-more:after, .basel-dark .blog-footer .basel-blog-load-more:after, .basel-dark .blog-footer .basel-products-load-more:after, .basel-dark .blog-footer .basel-portfolio-load-more:after, .basel-dark .portfolio-footer .basel-blog-load-more:after, .basel-dark .portfolio-footer .basel-products-load-more:after, .basel-dark .portfolio-footer .basel-portfolio-load-more:after, .basel-dark .feedback-form .wpcf7-submit, .basel-dark .mc4wp-form input[type=submit], .basel-dark .single-product-content .cart button, .basel-dark .single-product-content .comment-form .form-submit input[type=submit], .basel-dark .basel-registration-page .basel-switch-to-register, .basel-dark .register .button, .basel-dark .login .button, .basel-dark .lost_reset_password .button, .basel-dark .wishlist_table tr td.product-add-to-cart > .add_to_cart.button, .basel-dark .shopify .cart-actions .coupon .button, .basel-dark .feedback-form .wpcf7-submit:hover, .basel-dark .mc4wp-form input[type=submit]:hover, .basel-dark .single-product-content .cart button:hover, .basel-dark .single-product-content .comment-form .form-submit input[type=submit]:hover, .basel-dark .basel-registration-page .basel-switch-to-register:hover, .basel-dark .register .button:hover, .basel-dark .login .button:hover, .basel-dark .lost_reset_password .button:hover, .basel-dark .wishlist_table tr td.product-add-to-cart > .add_to_cart.button:hover, .basel-dark .shopify .cart-actions .coupon .button:hover, .basel-ext-primarybtn-dark:focus, .basel-dark .feedback-form .wpcf7-submit:focus, .basel-dark .mc4wp-form input[type=submit]:focus, .basel-dark .single-product-content .cart button:focus, .basel-dark .single-product-content .comment-form .form-submit input[type=submit]:focus, .basel-dark .basel-registration-page .basel-switch-to-register:focus, .basel-dark .register .button:focus, .basel-dark .login .button:focus, .basel-dark .lost_reset_password .button:focus, .basel-dark .wishlist_table tr td.product-add-to-cart > .add_to_cart.button:focus, .basel-dark .shopify .cart-actions .coupon .button:focus, .cookies-buttons .cookies-accept-btn:hover, .cookies-buttons .cookies-accept-btn:focus, .blockOverlay:after, .widget_shopping_cart .product_list_widget:before, .basel-price-table:hover, .title-shop .nav-shop ul li a:after, .widget_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:hover, div.bbp-submit-wrapper button, div.bbp-submit-wrapper button:hover, div.bbp-submit-wrapper button:focus, #bbpress-forums .bbp-search-form #bbp_search_submit, #bbpress-forums .bbp-search-form #bbp_search_submit:hover, #bbpress-forums .bbp-search-form #bbp_search_submit:focus, .basel-hover-link .swap-elements .btn-add a, .basel-hover-link .swap-elements .btn-add a:hover, .basel-hover-link .swap-elements .btn-add a:focus, .basel-hover-link .swap-elements .btn-add a.loading:after, .scrollToTop:hover, .scrollToTop:focus, .widget_search form.gl_search_post button, .product-list-item .product-list-buttons>a, .widget_search form.gl_search_post button:hover, .product-list-item .product-list-buttons>a:focus, .product-list-item .product-list-buttons>a:hover, .cart-collaterals .cart_totals .wc-proceed-to-checkout a, .cart-collaterals .cart_totals .wc-proceed-to-checkout a:focus, .cart-collaterals .cart_totals .wc-proceed-to-checkout a:hover, blockquote, #popup_basel button.active, #popup_basel button:focus {
    border-color: #98cb4c;
}

.widget_shopping_cart .product_list_widget:before {
    content: " ";
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #1aada3;
    border-radius: 50%;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    animation: 450ms linear infinite load-spin;
    -o-animation: 450ms linear infinite load-spin;
    -ms-animation: load-spin 450ms infinite linear;
    -webkit-animation: 450ms linear infinite load-spin;
    -moz-animation: 450ms linear infinite load-spin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.widget_shopping_cart .product_list_widget li.empty {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    color: #747474;
    position: relative;
    padding-left: 75px;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: visible;
}

.product_list_widget li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.widget_shopping_cart .product_list_widget li {
    position: relative;
}
.widget li:last-child {
    margin-bottom: 0;
}
.product_list_widget li {
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(124, 124, 124, 0.15);
}
.widget li {
    margin-bottom: 15px;
}

.widget_shopping_cart .product_list_widget li.empty:before {
    content: "\e04e";
    font-size: 50px;
    line-height: 50px;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    font-family: Simple-Line-Icons;
}

.widget_shopping_cart .product_list_widget li.empty:after, .widget_shopping_cart .product_list_widget li.empty:before {
    position: absolute;
    color: #e8e8e8;
}

.widget_shopping_cart .product_list_widget li.empty:after {
    content: "\f00d";
    font-size: 18px;
    line-height: 18px;
    left: 34px;
    top: 50%;
    margin-top: -9px;
    font-family: FontAwesome;
}

.widget_shopping_cart .product_list_widget li.empty:after, .widget_shopping_cart .product_list_widget li.empty:before {
    position: absolute;
    color: #e8e8e8;
}

.added_to_cart, .btn, .button, button, input[type="submit"] {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    border-radius: 0;
    border: 1px solid #ececec;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-color: #ececec;
    color: #3e3e3e;
    padding: 10px 20px;
}