body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

.container {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/jazz-bg-texture-min_1.jpg?v=1616673456);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  background-size: 100% auto;
  background-repeat: repeat-y;
  top: 0;
  height: 100%;
  opacity: 0.25;
}

/* first div available in mumbai text styling */

/* .container>div:nth-child(1) {
  line-height: 60%;
  color: white;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  grid-area: a;
  background-color: #437111;
} */

#first-nav {
  line-height: 10%;
  color: white;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  grid-area: a;
  padding: 5px;
  background-color: #437111;
}


/* For Second navbar */

.second-nav {

  grid-area: b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #eeeeea;
  z-index: 1;
}

.second-nav>div:nth-child(1) {
  height: 85px;
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.arrowdown {
  font-family: "PT Sans", serif;
  font-size: 17px;
  height: 100%;
  margin-top: 18%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.arrowdown i {
  right: -8px;
  font-size: 18px;
  color: #bbb;
}

.inside-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  top: 43px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.inside-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #6d6d6d;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

#grow.navbar>div:nth-child(1)+img {
  cursor: pointer;
}

.inside-dropdown a:hover {
  color: #98cb4c;
  padding-left: 10%;
}

.dropdown:hover .inside-dropdown {
  display: block;
}

#accountinfo {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

i {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

#searchform {
  display: none;
  position: absolute;
  top: 70px;
  right: 230px;
  background-color: #f7f7f7;
  z-index: 1;
  padding: 20px;
  width: 295px;
  box-shadow: 0 0 2px rgb(0 0 0 / 10%);
}

input[type="text"] {
  height: 35px;
}

input[type="submit"] {
  height: 35px;
  background-color: #98cb4c;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.hidebar {
  display: flex;
  justify-content: flex-end;
  line-height: 0%;
  margin-bottom: 5%;
}

/* banner */


.banner {
  grid-area: c;
  position: relative;
}

#box {
  background-image: url(https://cdn.shopify.com/s/files/1/0449/5225/6667/files/grow_by_kimaye.jpg?v=1609401696);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  height: 55vh;
  position: relative;
}

#third-nav {
  background-color: #437111;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

#entry-title {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 45px;
}

.breadcrumbs>a:before {
  content: "\f015";
  display: inline-block;
  margin-right: 5px;
  font-family: FontAwesome;
}

.breadcrumbs>a:after {
  content: "/";
  display: inline-block;
  padding: 0 10px;
}

.breadcrumbs {
  margin-top: 0;
  display: block;
  line-height: 2;
  float: none;

}

.breadcrumbs a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);

}

.breadcrumbs a:hover {
  text-decoration: underline;
}

#third-nav ul {
  list-style: none;
  font-size: small;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
}

#third-nav li {
  margin-left: 30px;
}

li:hover {
  text-decoration: underline;
}




/* CSS for mid-div section  */


#mid-div-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}


#grid div {
  /* border: 1px solid red; */
  justify-content: center;


}

#inside-grid img {
  width: 85%;
  border-radius: 20px;
}
#inside-grid img:hover {
  cursor: pointer;
  border: 0;
  width: 90%;
    transition: 1s ease-out;
    transform: scale(1);

}
#inside-grid h3:hover{
  color: #98cb4c;
  cursor: pointer;
  transition: 600ms;
}
#inside-grid-2 img {
  width: 25%;
}

#inside-grid-2 p {
  font-size: small;
}

#inside-grid-2 p:hover {
  color: #98cb4c;
  cursor: pointer;
}

#grid-2 h2 {
  font-family: PT Sans;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
}

hr {
  width: 95%;
}



@media screen and (min-width:376px) and (max-width:768px) {
  .container {
    height: 3721px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 35px 60px 450px 150px 800px 33px 500px 40px 170px 375px 33px 450px 40px 400px 190px;
    grid-template-areas:
      "a a a a a a a a a a a a"
      "b b b b b b b b b b b b"
      "c c c c c c c c c c c c"
      "d d d d d d d d d d d d"
      "e e e e e e e e e e e e"
      "x x x x x x x x x x x x"
      "f f f f f f f f f f f f"
      "z z z z z z z z z z z z"
      "g g g g g g g g g g g g"
      "h h h h h h h h h h h h"
      "o o o o o o o o o o o o"
      "i i i i i i i i i i i i"
      "q q q q q q q q q q q q"
      "j j j j j j j j j j j j"
      "k k k k k k k k k k k k";
  }
}

@media screen and (min-width:0px) and (max-width:375px) {

  .container {

    height: 2238px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 50px 300px 80px 430px 20px 300px 20px 100px 250px 20px 300px 20px 200px 100px;
    grid-template-areas:
      "a a a a a a a a a a a a"
      "b b b b b b b b b b b b"
      "c c c c c c c c c c c c"
      "d d d d d d d d d d d d"
      "e e e e e e e e e e e e"
      "x x x x x x x x x x x x"
      "f f f f f f f f f f f f"
      "z z z z z z z z z z z z"
      "g g g g g g g g g g g g"
      "h h h h h h h h h h h h"
      "o o o o o o o o o o o o"
      "i i i i i i i i i i i i"
      "q q q q q q q q q q q q"
      "j j j j j j j j j j j j"
      "k k k k k k k k k k k k";
  }

  #accountinfo {
    width: 100px;
  }
}

.container>div:nth-child(1) {
  font-size: 12px;
}